<h1 class="pd-bt">TodoList</h1>
<input type="text" class="form-control" id="title" placeholder="標題喔"><br />
<textarea class="form-control" id="content" placeholder="內容喇" rows="3"></textarea><br />
<a class="btn btn-primary btn-post"><i class="fa fa-plus fa-lg"></i>  New</a></br>
